In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [28]:
df = pd.read_csv("multiple-linear-regression-dataset.csv",sep = ";")
print (df.shape )
df.head()

(14, 3)

   experience  salary  age
0         0.5    2500   22
1         0.0    2250   21
2         1.0    2750   23
3         5.0    8000   25
4         8.0    9000   28

In [64]:

x = df.iloc[:,[0,2]].values     # get all rows and ( 0 column and 2 column  )
#y = df.salary.values.reshape(-1,1)
y = df.iloc [: , [1]].values

In [68]:
print (x)

[[ 0.5 22. ]
 [ 0.  21. ]
 [ 1.  23. ]
 [ 5.  25. ]
 [ 8.  28. ]
 [ 4.  23. ]
 [15.  35. ]
 [ 7.  29. ]
 [ 3.  22. ]
 [ 2.  23. ]
 [12.  32. ]
 [10.  30. ]
 [14.  34. ]
 [ 6.  27. ]]

In [66]:
# %% fitting data
multiple_linear_regression = LinearRegression()
multiple_linear_regression.fit(x,y) # train

print("b0: ", multiple_linear_regression.intercept_)
print("b1,b2: ",multiple_linear_regression.coef_)

b0:  [10376.62747228]
b1,b2:  [[1525.50072054 -416.72218625]]

In [67]:
# predict
multiple_linear_regression.predict(np.array([[10,35],[5,35]]))   # predect output for two value

# for [10,35] value output will be 11046.35815877
# for [5, 35] value output will be 3418.85455609

array([[11046.35815877],
       [ 3418.85455609]])